/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*
 *= require font-awesome
 */

$minor-sized:0.7em;

html {
font-family:rock salt;
font-size:1em;
background-image: url("http://www.psdgraphics.com/file/colorful-triangles-background.jpg");  
background-size: cover;
background-repeat: no-repeat;
}


#clearance {
  background-color: rgba(0,0,0,0.5);
  padding: 1em 1em 1em 1em;
  border-radius: 5px;
  margin: 0 auto;
  text-align: center;
  width: 300px;

a{
  color: #eee;
  text-decoration: none;
  display: block;
}
}

div{
  padding-top: 1em;
}


#footer
{position: absolute;
font-size:1em; 
bottom: 2em;
width: 100%;
height: 2em;
text-align: center;
padding-top: 20em;
padding: 2em 0 0 0;
color: black;
left: 0;
}

#footer a {
  color: black;
  text-decoration: none;
}

#footer a:visited,  {
  color: #eee;
}
#footer a:hover {
  color: #eef;
}

.shadowed {
Text-shadow: 2px 2px 0 #000; // add shadow contrast
}