// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#main
{text-align: center; 
top: 20%;
width: 100%;
position: absolute;
line-height: 1em;
}

#quote {
  position: absolute;
  width: 100%;
  bottom: 5 em;
  top: 50%;
  text-align: center;
}

